---
import Form from '../components/Form.astro'
import PasswordContainer from '../components/PasswordContainer.astro'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Password generator</title>
  </head>
  <body>
    <main
      class='flex items-center justify-center w-[100vw] h-[100dvh] flex-col gap-6 bg-gray-800'
    >
      <Form />
      <PasswordContainer />
    </main>
  </body>
</html>

<script>
  import Toastify from 'toastify-js'
  import 'toastify-js/src/toastify.css'

  const letrasMayusculas = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
  const letrasMinusculas = 'abcdefghijklmnopqrstuvwxyz'
  const numeros = '0123456789'
  const simbolos = '!@#$%^&*()_+~`|}{[]:;?><,./-='

  const $password = document.querySelector('span#password') as HTMLSpanElement
  const $passwordContainer = document.querySelector(
    'div#password-container'
  ) as HTMLDivElement
  const $copyButton = document.querySelector('button#copy-button')

  $copyButton?.addEventListener('click', handleCopy)
  document.querySelector('form')?.addEventListener('submit', handleSubmit)

  const CHARS_OPTIONS = {
    lowercase: 'lowercase',
    uppercase: 'uppercase',
    numbers: 'numbers',
    symbols: 'symbols'
  }
  const passOptions: {
    charsToUse: string[]
    length: number
  } = {
    charsToUse: [],
    length: 0
  }

  function handleSubmit(ev: Event) {
    ev.preventDefault()
    const $form = ev.target as HTMLFormElement
    const formData = new FormData($form)
    const data = Object.fromEntries(formData)
    const validChars = document.querySelectorAll(
      "input[name='valid-characters']:checked"
    ) as NodeListOf<HTMLInputElement>
    validChars.forEach((input) => {
      const value = input.value as keyof typeof CHARS_OPTIONS
      if (value in CHARS_OPTIONS)
        passOptions.charsToUse.push(CHARS_OPTIONS[value])
    })

    if (passOptions.charsToUse.length === 0)
      passOptions.charsToUse = [
        CHARS_OPTIONS.lowercase,
        CHARS_OPTIONS.uppercase,
        CHARS_OPTIONS.numbers,
        CHARS_OPTIONS.symbols
      ]

    if (data['pass-length'] && !isNaN(Number(data['pass-length'])))
      passOptions.length = Number(data['pass-length'])
    else passOptions.length = 8

    handleGenerate()
  }

  function handleGenerate() {
    let todosCaracteres = ''
    const validChars = passOptions.charsToUse

    if (validChars.includes(CHARS_OPTIONS.lowercase))
      todosCaracteres += letrasMinusculas
    if (validChars.includes(CHARS_OPTIONS.uppercase))
      todosCaracteres += letrasMayusculas
    if (validChars.includes(CHARS_OPTIONS.numbers)) todosCaracteres += numeros
    if (validChars.includes(CHARS_OPTIONS.symbols)) todosCaracteres += simbolos

    let password = ''
    if (validChars.includes(CHARS_OPTIONS.lowercase))
      password +=
        letrasMinusculas[Math.floor(Math.random() * letrasMinusculas.length)]
    if (validChars.includes(CHARS_OPTIONS.uppercase))
      password +=
        letrasMayusculas[Math.floor(Math.random() * letrasMayusculas.length)]
    if (validChars.includes(CHARS_OPTIONS.numbers))
      password += numeros[Math.floor(Math.random() * numeros.length)]
    if (validChars.includes(CHARS_OPTIONS.symbols))
      password += simbolos[Math.floor(Math.random() * simbolos.length)]

    for (let i = password.length; i < passOptions.length; i++) {
      password +=
        todosCaracteres[Math.floor(Math.random() * todosCaracteres.length)]
    }
    password
      .split('')
      .sort(() => {
        return 0.5 - Math.random()
      })
      .join('')
    if (password.length > passOptions.length)
      password = password.slice(0, passOptions.length)
    $password.textContent = password
    $passwordContainer.classList.remove('invisible')

    passOptions.charsToUse = []
    passOptions.length = 0

    handleCopy()
  }

  function handleCopy() {
    navigator.clipboard.writeText($password.textContent ?? '')
    Toastify({
      text: 'Password copied to clipboard',
      duration: 3000,
      gravity: 'top',
      position: 'center',
      style: {
        background: 'linear-gradient(to right, #00b09b, #96c93d)'
      }
    }).showToast()
  }
</script>
