---
import IconCopy from '../Icons/IconCopy.astro'
---

<div
  class='min-h-[48px] min-w-[172px] max-w-sm bg-neutral-700 text-slate-200 py-3 pl-4 pr-8 rounded-sm invisible relative'
  id='password-container'
>
  <span
    id='password'
    class='w-full truncate block'
  ></span>
  <button
    class='cursor-pointer absolute right-2 top-2'
    id='copy-button'
  >
    <IconCopy />
  </button>
</div>
