@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  width: 100vw;
}

.menu-option {
  @apply transition-all cursor-pointer opacity-80 hover:opacity-100;
}
